.App {
  background-color: #d9fff1;
  /* color: #273036; */
}

svg {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
}

.header {
  background-color: #273036;
}

.header-links {
  display: flex;
  justify-content: center;
}

.header-links svg {
  padding: 8px;
  color: #d9fff1;
}

.header-links svg:hover {
  color: #9dbeb2;
}

.header-text h3, h4 {
  padding: 0;
  margin: 0 0 16px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Tahoma, sans-serif;
  color: #d9fff1;
  font-size: 1.2rem;
  margin: auto;
  height: 100px;
  max-width: 80vw;
}

.navbar img {
  height: 48px;
}

.navbar-links {
  display: flex;
  align-items: center;
  color: #9dbeb2;
}

.navbar-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-links a:not(:first-child) {
  margin-left: 24px;
} 

.navbar .resume {
  color: #273036;
  border-radius: 16px;
  background: #d9fff1;
  padding: 8px 16px;
}

.basic:hover {
  color: white;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d9fff1;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cards {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.project-img img {
  max-width: calc(100% - 32px);
  border-radius: 8px;
  border: 8px solid black;
}

.project-img:hover .project-links {
  opacity: 1;
}

.project-info {
  max-width: calc(100% - 32px);
  padding: 0 8px;
}

.project-stack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.5rem 0 1rem 0;
  font-size: .8rem;
}

.project-stack li {
  padding: .25rem .5rem;
  background-color: #273036;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  margin-right: .5rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h3 {
  margin: 0.5rem 0;
}

.project-info p {
  margin: 0.5rem 0 1rem 0;
}

.project-links a {
  background-color: black;
  border: 2px solid black;
  text-decoration: none;
  color: white;
  padding: .25rem .5rem;
  border-radius: .5rem;
  margin-left: .5rem;
  white-space: nowrap;
}

.project-links a:hover {
  background-color: white;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.about {
  margin: auto;
  background-color: white;
  padding: 4rem;
  border-radius: .5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
}

.contact {
  max-width: 1200px;
  margin: auto;
}

.contact-box {
  margin: auto;
  margin-top: 1rem;
  background-color: white;
  padding: 4rem;
  border-radius: .5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box a {
  font-size: 2rem;
  text-decoration: none;
}

.contact a:hover {
  font-weight: 600;
}

.contact-box svg {
  color: black;
}

.contact-box svg:hover {
  color: #273036;
}

.footer svg {
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #273036;
  padding-bottom: 1rem;
  margin: 0;
  color: #d9fff1;
}

.stack-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 32px;
}

.stack-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 64px;
}

.stack-lang p {
  font-size: .825rem;
}

@media (max-width: 480px) {
  .navbar-links a:not(:last-child) {
    display: none;
  }
  .navbar, .container {
    max-width: 360px;
  }
  .contact-box a {
    font-size: 1.5rem;
  }
  .contact-box svg {
      padding-top: 16px;
      padding-left: 0;
  }
  .contact-box {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 480px) {
  .navbar, .container {
    max-width: 420px;
  }
  .contact-box a {
    font-size: 1.5rem;
  }
  .contact-box svg {
    padding-top: 16px;
    padding-left: 0;
  }
  .contact-box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .navbar, .container {
    max-width: 720px;
  }
  .project-cards {
    max-width: calc(100%/2);
  }
  .contact-box a {
    font-size: 2rem;
  }
  .contact-box svg {
    padding-left: 16px;
  }
}
@media (min-width: 1024px) {
  .navbar, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar, .container {
    max-width: 1098px;
  }
  .project-cards {
    max-width: calc(100%/3);
  }
  .contact-box a {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .navbar, .container {
    max-width: 1200px;
  }
}
